.auth-main {
  text-align: center;
  align-items: center;
  background-image: url('../assets/images/ruffa-jane-reyes-670602-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: space;
  background-blend-mode: exclusion;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
