.space-wrapper {
  height: 100%;
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: space-between;
}

.image-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spaceShow {
  max-height: 43em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  .description-container{
    width: 30%;
  }

  .strong-text{
    font-family: "Cera-ProBold";
  }

  .address {
    font-family: "Cera-ProBold";
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    color: rgb(18, 41, 91);
  }
.block{
  display: inline-block;
  margin: 50px 20px 0 20px;
  font-family: "Cera-Pro";
}
  .calender{
    flex: 3;
    flex-flow: row;
  }

  .description{
    width: 30%;
    margin: 50px 20px 0 20px;
    font-size: 15px;
    font-family: "Cera-Pro";
    line-height: 35px;
  }

  img {
    display: block;
    height: auto;
    width: 30%;
    // height: 60%;
    flex: 1;
    margin: 20px 20px 0 20px;
    border: 1px solid rgb(18, 41, 91);
    border-radius: 4px;
    padding: 10px;

  }
//   .social-media{
//   li{margin:0 2px ;}
//   a{
//     background: #fff;
//     @include transition(transform 1s, background .4s);
//     @include border-radius(100%);
//     &:hover{
//     @include translateY(-10px);
//     }
//   }
//    .twitter{ color:$twt-cl}
//    .facebook{color:$fb-cl}
//    .google-plus{color:$gp-cl;}
//    .linkedin{color:$in-cl}
//    .pinterest{color:$pin-cl}
// }
}

@font-face{
	font-family: "Cera-ProBold";
	src: url('../assets/fonts/CeraPro-Bold.ttf');
}
