
.address {
  font-family: "Cera-ProBold";
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  color: rgb(18, 41, 91);
}

.space-wrapper {
  height: 100%;
  width: 100%;
  background: #ffffff;
  position: absolute;
  display: flex;
  flex-direction: row;
  // flex-flow: row wrap;
  justify-content: space-between;

}


  .spaceShow {
    // max-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;




  .image-wrapper{
    justify-content: space-between;
    width: 600px;
    height: 500px;
}

    // margin-left: auto;


    .strong-text{
      font-family: "Cera-ProBold";
    }
    .description-container{
      width: 30%;
      flex-direction: row;
      justify-content: space-between;
      margin: 5px 20px 0 40px
      // margin-left: auto;
    }

    .description{
      // display: inline-block;
      margin: 5px 20px 0 20px;
      font-size: 15px;
      font-family: "Cera-Pro";
      line-height: 35px;
      width: 100%;
    }

.types{
  display: block;
}
  .block{
    display: inline-block;
    margin: 20px 20px 0 40px;
    font-family: "Cera-Pro";
    width: 30%;
  }


  .calender-show {
    // width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: flex-end;
    position: relative;

  }
  .calender{
    // flex: 1;
    margin-bottom: 190px;
    margin-top: 100px;
    margin: 0;
    background: yellow;


  }

  form{
    margin-bottom: 60px;
    margin-right: 60px;
  }

  .button-show {
    margin: 90px 0 70px 10px;
    justify-content: center;
  }



  .image-space {
    display: flex;
    height: auto;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin: 20px 20px 0 20px;
    border: 1px solid rgb(18, 41, 91);
    border-radius: 4px;
    padding: 10px;

  }

}

// RATING

.rate {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 200px;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

@font-face{
  font-family: "Cera-ProBold";
  src: url('../assets/fonts/CeraPro-Bold.ttf');
}
// @media (min-width: 1000px) {
//   .description {
//     // max-height: 100%;
//     display: flex;
//     justify-content: flex-start;
//   }
//
//   .calender-show{
//     display: block;
//   }
//
// }
