.logo {
	margin: 0;
	display: inline-block;
	width: 200px;
}

.nav {
	margin-top: 5px;

		a {
			color: $color-gamma;
			font-size: .99em;

			&:hover {
				color: $color-gamma-light;
			}
		}
}

.logo,
.nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.header {
	height: 30%;
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid $color-omega;
	background-color: $color-omega-light;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -webkit-border-radius: 5px;
}

.header,
.nav {
	display: flex;
}

.header {
	height: 15%;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 1000px) {
	.header {
		height: 10%;
		flex-direction: row;
		justify-content: space-between;
	}
}
