.booking-modal {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background: $color-beta;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-color: $color-beta-light;
  opacity: 0.8;
  color: $color-omega-light;
  outline: none;

  p {
    font-size: 1.5em;
    color: $color-omega-light;
    font-family: "Cera-Pro";
  }
}

@media (min-width: 1000px) {
  .booking-modal {
    margin: 9% auto;
    height: 25em;
    width: 25em;
    border-radius: 20px;
  }
}
