.calender {
  // width: 70%;

  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin-top: 80px;
  margin-right: 50px;
}

.react-datepicker-wrapper:nth-child(1) {
  margin: 0 10px 40px 0;
  position: relative;
box-shadow: 2px 2px 2px rgb(18, 41, 91);
}
.react-datepicker-wrapper:nth-child(2) {
  margin: 0 0 40px 10px;
    box-shadow: 2px 2px 2px rgb(18, 41, 91);
}

.react-datepicker__input-container:nth-child(1) input {
  width: 150px;
  height: 35px;
  border-radius: .25em;
  border: 2px solid darken($color-beta, 10%);
  font-size: 1em;
  -webkit-text-stroke: 0.5px black;
  padding: .25em .5em .3125em;
  color: rgba(255,255,255,.9);
  background: transparent;
  transition:all .100s;
}

.react-datepicker__input-container:nth-child(2) input {
  width: 150px;
  height: 35px;
  border-radius: .25em;
}
