.edit-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('../../src/assets/images/ruffa-jane-reyes-670602-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: exclusion;
  outline: none;

    .edit {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-height: 43em;
      width: 25em;
      border: 3px solid black;
      box-shadow: 0 0 1em #000;
      text-align: center;
      padding: 4rem 2rem;
      background-color: $color-beta;
      opacity: 0.9;
      margin: 5px;


      label {
        font-size: 1em;
        font-weight: 100;
        margin: 0 0 1em;
        color: $color-omega-light;
        text-transform: uppercase;
      }

      input[name=price], {
        outline: 0;
        padding: .5rem 1rem;
        border: 3px solid $color-omega-light;
        border-radius: 999px;
        text-align: center;
        width: 60%;
        margin-bottom: 20px;
      }

      input[type="radio"] {
        width: 20px;
        height: 20px;
      }

      textarea {
        margin-top: 20px;
        width: 60%;
        height: 50%;
        resize:none;
        border-radius: 5px;
        &::placeholder{
          font-size: 18px;
          text-align: center;
          line-height: 100px;
        }
      }

      .css-10nd86i {
        border-radius: 999px;
        outline: 0;
        padding: .5rem 1rem;
        border-radius: 999px;
        text-align: center;
        width: 60%;
        margin-bottom: 20px;
        .css-bl6clz{
          border-radius: 999px;
          outline: 0;
          padding: .5rem 1rem;
          border-radius: 999px;
          text-align: center;
          width: 60%;
          margin-bottom: 20px;
        }
        .css-2o5izw{
          border-radius: 999px;
        }
        .css-vj8t7z {
          border-radius: 999px;
        }
      }
    }
  }

@media (min-width: 1000px) {
  .edit {
    max-height: 100%;
  }
}
