@import '~mapbox-gl/dist/mapbox-gl.css';
@import url("https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.css");

#root > div > div {
  display: flex;
  height: 95vh;
}

.map {
  width:100vw;
  height: 100%;
}

.map2 {
  width:50vw;
  height:50vh;
}

.sidebar {
  width: 30%;
  height: 100%;
  overflow-y: auto;
}

.listings {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}
