.map-modal {
  margin: 9% auto;
  height: 70%;
  width: 50%;
  overflow-y: auto;
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-color: $color-omega-dark;

  .modal-image-wrapper {
    display: block;
    margin: 0 auto;
    height: 400px;
    width: 500px;
  }

  .map-modal-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .close-modal {
    color: $color-omega-light;
    line-height: 1.5em;
    display: inline-block;
    align-self: flex-end;
    margin: .4em .5em 0 0;
    padding: 0 .5em 0 .5em;
    border: 1px solid $color-omega-dark;
    background: $color-psi-light;
    cursor: pointer;

    &:hover {
      background: $color-psi;
    }
  }
}
