.sidebar {
  width: 100%;
  height: 30%;
  overflow-y: auto;
}

.listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Cera-Pro";
  border-bottom: 1px solid $color-omega-dark;
  background-color: $color-gamma;
  padding: 10px;
  text-decoration: none;
  color: $color-omega-light;
  cursor: pointer;

  &:hover {
    background-color: $color-gamma-light;
  }

  .bottom {
    width: 100%;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-around;
  }

  .price {
    font-family: "Cera-Pro";
    font-size: 30px;
    text-shadow: 1px 1px $color-omega-light;

    .perHour {
      font-family: "Cera-Pro";
      font-size: 18px;
      text-shadow: 1px 1px $color-omega-light;
    }
  }

  .location {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    pointer-events: none;

    .img-wrapper {
      padding: 10px;

      img {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        border: 3px solid $color-omega-light;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      align-items: center;

      .address {
        text-align: center;
      }
    }
  }
}

.active {
  background-color: $color-gamma-dark;
}

@font-face{
	font-family: "Cera-Pro";
	src: url('../assets/fonts/CeraPro-Regular.ttf');
}

@media (min-width: 1000px) {
  .sidebar {
    height: 100%;
    width: 30%;
  }
}
