.register {
  max-height: 43em;
  width: 25em;
  border: 3px solid black;
  box-shadow: 0 0 10em #000;
  text-align: center;
  padding: 4rem 2rem;
  background-color: $color-beta;
  opacity: 0.9;
  overflow-y: scroll;

  .auth-logo {
    margin: 0 0 0 10px;
  	display: inline-block;
  	width: 90%;
  }

  h2 {
    font-size: 2.75rem;
    font-weight: 100;
    margin: 0 0 1rem;
    color: $color-omega-light;
    text-transform: uppercase;
  }

  input {
    outline: 0;
    padding: .5rem 1rem;
    border: 3px solid $color-omega-light;
    border-radius: 999px;
    text-align: center;

    &[name="username"],
    &[name="email"],
    &[name="number"],
    &[name="password"],
    &[name="passwordConfirmation"] {
      width: 100%;
    }
  }

  label {
    color: $color-omega-light;
  }

  p {
    color: $color-omega-light;
  }

  a {
    color: $color-omega-light;
    text-decoration: underline;
  }
}

@media (min-width: 1000px) {
  .register {
    max-height: 100%;
  }
}
