// Colors

$color-alpha: #55dde0;
$color-alpha-light: lighten($color-alpha, 10%);
$color-alpha-dark: darken($color-alpha, 10%);

$color-beta: #33658a;
$color-beta-light: lighten($color-beta, 10%);
$color-beta-dark: darken($color-beta, 10%);

$color-gamma: #2f4858;
$color-gamma-light: lighten($color-gamma, 10%);
$color-gamma-dark: darken($color-gamma, 10%);

$color-psi: #f6ae2d;
$color-psi-light: lighten($color-psi, 10%);
$color-psi-dark: darken($color-psi, 10%);

$color-omega: #f26419;
$color-omega-light: lighten($color-omega, 10%);
$color-omega-dark: darken($color-omega, 10%);

$color-white: #eaf2ef;

// Fonts
$serif: serif;
$sans-serif: sans-serif;
$monospace: monospace;

$primary-font: $sans-serif;
$secondary-font: $serif;

$font-size-primary: 16px;
$font-size-header: 30px;
